body {
  height: 100%;
  width: 100%;
  font-weight: 500;
  background-image: linear-gradient(to right, #07173b, #4a1237);
}
h1,
h2 {
  color: white;
}
.details {
  color: white;
}
.main-title {
  font-family: pacifico;
}
.image-1 {
  border-radius: 50%;
  box-shadow: 5px 5px 25px black;
}
#profile-pic {
  border-radius: 50%;
  box-shadow: 7px 10px 20px black;
}
.fa-angle-double-right {
  color: #67d642;
}
.name {
  margin-top: 90px;
  padding-left: 40px;
}
.part-1 {
  margin-top: 90px;
}
.animation-blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes blink {
  0% {
    color: transparent;
  }
  49% {
    color: transparent;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
}
hr {
  color: white;
  border-width: 2px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.flex {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}
.know-more {
  background-color: transparent;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: 800;
  transition: 0.15s;
}
.know-more:hover {
  background-color: white;
  color: #07173b;
  box-shadow: 5px 5px 15px black;
  transition: 0.15s;
}
footer {
  margin-bottom: 30px;
  color: white;
}
.navigation {
  border-bottom: 1px solid white;
  box-shadow: 0px -10px 25px white;
  background-color: #07173b;
}
.about-heading {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  color: white;
}
.about-text {
  color: white;
  text-align: justify;
}
#side-heading {
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.card {
  margin-left: 30px;
  height: 100%;
  width: 18rem;
  box-shadow: 5px 5px 15px black;
  border: none;
}
.education-header {
  border: 1px solid white;
  font-weight: 500;
  background-color: #07173b;
  color: white;
  text-transform: uppercase;
}
.card-body {
  color: #07173b;
}
.school {
  margin-bottom: 30px;
  margin-top: 10px;
}
.certificate {
  margin-bottom: 3.5rem;
  margin-top: 1.5rem;
}
.credential {
  color: white;
  border: 2px solid;
  border-radius: 12px;
  padding: 8px 15px;
  border: 1px solid white;
  border: 1px solid white;
  background-color: #07173b;
  font-weight: 600;
  transition: 0.15s;
}
.credential:hover {
  background-color: #0d2c72;
  border: 1px solid white;
  transition: 0.15s;
  color: white;
}
.project-heading {
  color: white;
  margin-bottom: 1.5rem;
}
.information {
  color: white;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 0px;
  font-weight: 400;
}
.qr-image {
  height: 200px;
  width: 200px;
  border-radius: 16px;
}
.social-heading {
  color: white;
  margin-top: 3rem;
}
.social-website-heading {
  color: white;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
a {
  color: white;
}
.top {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-start;
}
.topper {
  background-color: transparent;
  font-size: 18px;
  padding: 8px 15px;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  font-weight: 800;
  transition: 0.15s;
}
.topper:hover {
  background-color: white;
  color: #07173b;
  box-shadow: 5px 5px 15px black;
  transition: 0.15s;
}
label {
  color: white;
}
.coffee {
  height: 40px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}
#fname-label,
#lname-label,
#email-label,
#comments-label {
  color: black;
}
.alert-danger {
  margin-left: 0.8rem;
}
#name-alert,
#email-alert,
#message-alert {
  display: none;
}
#send-message {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}
